.App {
  padding: 10px;

  text-align: center;
  height: 100vh;
  overflow: none;
  display: grid;


  grid-template-rows: 5fr 3fr;
  grid-template-columns: 10fr 4fr;
  grid-gap: 5px;

  grid-template-areas:
    'g r'
    's r';
}
