.note {
    transition: 0.5s;
    padding: 12px 16px 12px 16px;
    font-size: 20px;
    border: none;
    width: 100%;
    outline: none;
}

.contNote {
    margin: 0px auto 50px;
    width: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.textarea {
    padding: 12px 16px 12px 16px;
    resize: none; 
    overflow-y: hidden; 
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    border-top: 1px solid grey;
}
