.tableNote {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    min-height: 50px;
}

.tableNote div {
    flex-basis: 15%;
}

.tableNote:nth-child(odd) {
    background-color: rgba(255, 228, 196, 0.847);
}

.tableNote .contentData {
    flex-basis: 30%;
    text-align: left;
}

.imgNote {
    padding-left:10px ;
}

.imgNote img {
    width: 20px;
}

.titleNote {
    display: flex;
    align-items: center;
    gap: 10px;
}