.menu {
    grid-area: l;
    border: 2px solid black;

    transition: 0.5s;

    text-align: left;
    padding: 15px;
}

.burger button {
    border: none;
    cursor: pointer;
}

.burger {
    margin-bottom: 40px;
    text-align: center;
}

.burger img {
    
    height: 35px;
    width: 30px;
}